<div class="container-fluid" id="body-inner-wrapper">
  <div class="row" id="header-row">
    <div class="container">
      <div class="row">
        <div class="col-6" id="nav-left-wrapper">
          <h3>Meta Links</h3>
        </div>
        <div class="col-6" id="nav-right-wrapper">

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="row" id="landing-wrapper">
        <div class="col-lg-6" id="get-started-wrapper">
          <div class="container-fluid">
            <div class="row" id="landing-header-1-wrapper">
              <h2>Customize your social content in seconds!</h2>
            </div>
            <div class="row" id="landing-header-2-wrapper">
              <h5>
                Generate meta tags or get a mask link
              </h5>
            </div>
            <div class="row" id="generate-meta-wrapper">
              <button id="landing-meta-generator-btn" type="button">Generate Meta Tags</button>
            </div>
          </div>
        </div>
        <div class="col-lg-6" id="landing-image-wrapper">
          <img src="../../../assets/images/landing-image.png" id="landing-image">
        </div>
      </div>
    </div>

  </div>
  <div class="row" id="bottom-action-bar">
    <div class="container">
      <div class="row">
        <div class="col-12" id="bottom-action-bar-header">
          <h5>Get Customized Preview for your links</h5>
        </div>
      </div>
      <div class="row" id="bottom-action-bar-input-wrapper">
        <div class="col-lg-9">
          <input type="text" autofocus="true" placeholder="Paste your link here" />
          <p class="validation-error">Please provide a valid link</p>
        </div>
        <div class="col-lg-3">
          <button>Get Customized Link</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="landing-footer-wrapper">

  </div>
</div>